In [1]:
import pyodbc
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=master;UID=SA;PWD=Nabikhani@723')

In [2]:
cursor = cnxn.cursor()

In [3]:
sql = """\
SELECT UserId, Count, Date from ActivitySession
WHERE Id < 100000
"""


rows = cursor.execute(sql)

In [4]:
import csv

In [5]:
print(cursor.description)

(('UserId', <class 'int'>, None, 19, 19, 0, False), ('Count', <class 'int'>, None, 3, 3, 0, False), ('Date', <class 'datetime.date'>, None, 10, 10, 0, False))

In [6]:
user_sql = """\
SELECT DISTINCT UserId
FROM ActivitySession
where Id < 572072
"""
user_rows = cursor.execute(user_sql)

In [7]:
userId = [i.UserId for i in user_rows]
print(len(userId))

151508

In [8]:
date_sql = """\
SELECT DISTINCT Date
FROM ActivitySession
where Id < 572072
"""
date_rows = cursor.execute(date_sql)

In [9]:
# dates = []
# j=0
# for i in date_rows:
#     if not i:
#         break
#     dates[j] = i
    
#     j+=1
# print(dates)
dates_for_query = [i.Date for i in date_rows]
dates = [i.strftime('%Y-%m-%d') for i in dates_for_query]
print(dates_for_query)
print(dates)

[datetime.date(2016, 10, 25), datetime.date(2016, 10, 26), datetime.date(2016, 10, 27), datetime.date(2016, 10, 28), datetime.date(2016, 10, 29), datetime.date(2016, 10, 30), datetime.date(2016, 10, 31), datetime.date(2016, 11, 1), datetime.date(2016, 11, 2), datetime.date(2016, 11, 3), datetime.date(2016, 11, 4), datetime.date(2016, 11, 5), datetime.date(2016, 11, 6), datetime.date(2016, 11, 7), datetime.date(2016, 11, 8), datetime.date(2016, 11, 9), datetime.date(2016, 11, 10), datetime.date(2016, 11, 11), datetime.date(2016, 11, 12), datetime.date(2016, 11, 13), datetime.date(2016, 11, 14), datetime.date(2016, 11, 15), datetime.date(2016, 11, 16), datetime.date(2016, 11, 17), datetime.date(2016, 11, 18), datetime.date(2016, 11, 19), datetime.date(2016, 11, 20), datetime.date(2016, 11, 21), datetime.date(2016, 11, 22), datetime.date(2016, 11, 23)]
['2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28', '2016-10-29', '2016-10-30', '2016-10-31', '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04', '2016-11-05', '2016-11-06', '2016-11-07', '2016-11-08', '2016-11-09', '2016-11-10', '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21', '2016-11-22', '2016-11-23']

In [ ]:
count_sql = """\
SELECT Count
FROM ActivitySession
where UserId=%d AND Date='%s' 
"""

count_sql1 = """\
SELECT Count , Date
FROM ActivitySession
where UserId=%d 
"""


# print(count_sql%(userId[0],dates_for_query[3]))
# rr_rows = cursor.execute("""\
# SELECT Count
# FROM ActivitySession
# where Id=2 AND  Date='2016-10-25'
# """)

# rr_rows = cursor.execute("""\
# SELECT Count
# FROM ActivitySession
# where Id=%d AND  Date='%s'
# """%(2,'2016-10-25'))

# rr_rows = cursor.execute("""\
# SELECT Count, Date
# FROM ActivitySession
# where UserId=4588434 AND Date <='2016-11-23'
# """)



# a = rr_rows.fetchall()
# # print(a)
# for k in dates_for_query:
#     not_found = True
#     for m in a:
#         if k == m.Date:
#             print("Found")
#             not_found = False
#     if not_found:
#         print("no")
        
            
            


# if not a:
#     print("d")
# else:
#     print(a.Count)

# for i in rr_rows:
    
    
#     print("sd")
# print(len(rr_rows))

with open(r'new_datas.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["UserId"] + dates)  # column headers
    for i in userId:
        userrow = [i]
        new_sql1 = count_sql1%(i)
        get_count1 = cursor.execute(new_sql1)
        get_data = get_count1.fetchall()
        for k in dates_for_query:
            not_found = True
            for m in get_data:
                if k == m.Date:
                    userrow.append(m.Count)
                    not_found = False
            if not_found:
                userrow.append(0)

        writer.writerow(userrow)

        
        
        
                    
            
        
        
# #         for j in dates:
# #             new_sql = count_sql%(i,j)
# #             get_count = cursor.execute(new_sql)
# # #             print(count_sql%(i,j))
# #             exist = get_count.fetchone()
# #             if exist:
# #                 userrow.append(exist.Count)
# #             else:
# #                 userrow.append(0)